@page
<head>
    <script defer src="/css/all.js"></script> <!--load all styles -->

</head>
@using JPGStockServer.Entities


<h2 class="content-block">IN DEVELOPING</h2>

<picture>
    <source media="(max-width:650px)" srcset="~/Image/ezgif.com-gif-maker.gif">
    <img src="~/Image/developer.gif" alt="Beatles" style="width:auto;">
</picture>


